@font-face {
    font-family: "Playfair Display";
    src: url("/fonts/OpenSans-Regular.woff2") format("woff2");
    font-optical-sizing: auto;
    font-style: normal;
    font-display: swap;
}

:root{
  --color-bg-menu: #0e1012;
  --color-text: #fff;
  --color-bg-main: #1e2224;
  --color-bg-header: #454545;
  --color-bg-dashboard: #2c3031;
  --color-border: #585858 ;
  --color-snow: #c1dcec ;
  --color-bg-table:#414a50;
  --color-head-table:#444441;
  --color-text-table:#252525;
  --color-table-even:#e7e7e7;
  --color-table-odd: #d4d4d4;
  --color-text-headertable: #343535 ;
  --color-background-focus: #a7a7a7;
}

#white{
  --color-bg-menu: #6a6c6e;
  --color-text: #000000;
  --color-bg-main: #676969;
  --color-bg-header: #fffdfd;
  --color-bg-dashboard: #939596;
  --color-border: #292929 ;
  --color-snow: #08090a ;
  --color-bg-table:#1e2022;
  --color-head-table:#444441;
  --color-text-table:#252525;
  --color-table-even:#333333;
  --color-table-odd: #808080;
  --color-text-headertable: #343535 ;
}


/* Очистка стилей */
* { margin: 0; padding: 0; border: 0; box-sizing: border-box; }



html, body {
  width: 100%;
  min-height: 100%;
  margin: 0; 
  padding: 0; 
  display: flex;
  font-family: "Playfair Display";
  justify-content: flex-start;
}


.container{
  position: relative;
  width: 100%;
  min-height: 100%;
  border: 1px solid black;
  padding: 10px;
  background: var(--color-bg-main) ;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.container .main-board{
  position: relative;
  display: flex;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
  
}

.dashboard .main-header{
width: 100%;
background-color: var(--color-bg-header);
color: var(--color-text);
text-align: center;
box-sizing: border-box;
padding: 10px;
display: flex; 
justify-content: center;  
position: relative; 
}

.oflline-table{
  display: inline;
  width: 100%;
  max-height: 400px;
  margin: 3px;
  overflow-y: auto;
  padding-left: 16px;
  padding-right: 16px;
}


.oflline-table::-webkit-scrollbar{
  width: 0px;
  background-color: transparent;
}
.oflline-table::-webkit-scrollbar-thumb{
  background-color: transparent;
}
.oflline-table::-webkit-scrollbar-track{
  background-color: transparent
}

.table-name{
  color: var(--color-text);
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-bg-main);
  text-align: center;
  border: 2px solid var(--color-border);
  padding: 8px;
  z-index: 1;
  position: sticky;
}

.oflline-item-curcle{
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid rgb(156, 1, 1);
  position: absolute;
  right: 62px;
  top: 12px;
  width: 15px;
  height: 15px;
}

.online-item-curcle{
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid green;
  position: absolute;
  top: 12px;
  right: 130px;
  height: 15px;
  width: 15px;
}

.table-dashboard{
  width: 99%;
	border: none;
	margin-bottom: 20px;
  border-collapse: collapse;
}

.count-default{
  font-weight: bold;
  color: rgb(156, 1, 1);
  position: absolute;
  right: 36px;
  top: 8px;
}

.online-count-default{
  color: green;
  font-weight: bold;
  position: absolute;
  right: 89px;
  top: 8px;
}

.count-safe-city{
  font-weight: bold;
  color: rgb(156, 1, 1);
  position: absolute;
  right: 36px;
  top: 8px;
}

.online-count-safecity{
  color: green;
  font-weight: bold;
  position: absolute;
  right: 89px;
  top: 8px;
}

.table-dashboard thead{
  width: 100%;
  table-layout: fixed;
}

thead th{
  font-weight: bold;
	text-align: left;
	border: none;
	padding: 10px 15px;
	background-color: transparent;
	font-size: 14px;
  text-align: center;
  justify-content: center;
}

.table-card, .table-card-default {
  position: relative;
  width: 100%;
}

tr{
  background-color: transparent;
  color: var(--color-text);
  text-align: center;
}

tr td{
  padding-bottom: 8px;
  border-bottom: 1px solid var(--color-bg-table);
}


.tables-information{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

tbody{
  tr{
    &:hover{
      background-color: rgba(255,255,255,0.3);
    }
  }
  td{
    position: relative;
    &:hover{
      &::before{
        content: "";
				position: absolute;
				left: 0;
				right: 0;
				background-color: rgba(255,255,255,0.2);
				z-index: -1;
      }
    }
  }
  .ipaddress:hover{
    border-left: 2px solid red;
  }
}

th.status-header,
td.status-monitoring{
  width: 80px;
}



.menu { 
  position: absolute;
  margin: 0;
  padding: 0;
  top: 3px;
  left: -12px;
  z-index: 2;
  height: 100%;
  
}

.burger-checkbox {
  position: absolute;
  visibility: hidden;
    
}
.burger {
  position: relative;
  top: 5px;
  left: 25px;
  z-index: 330;
  cursor: pointer;
  display: block;
  border: none;
  background: transparent;
  width: 40px;
  height: 26px;
}
.burger::before,
.burger::after {
    content: '';
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 10px;
    background: var(--color-text);
  }
.burger::before {
  top: 0;
  box-shadow: 0 11px 0 var(--color-text);
  transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
}
.burger::after {
   bottom: 0;
   transition: bottom .3s .15s, transform .3s;
   
}
.burger-checkbox:checked + .burger::before {
  top: 11px;
  transform: rotate(45deg);
  box-shadow: 0 6px 0 rgba(255, 255, 255, 0);
  transition: box-shadow .15s, top .3s, transform .3s .15s;
  position: relative;
}
.burger-checkbox:checked + .burger::after {
  bottom: 11px;
  transform: rotate(-45deg);
  transition: bottom .3s, transform .3s .15s;
}

.menu-list {
  top: -15px;
  left: 0;
  position: absolute;
  display:flex;
  flex-direction: column;
  gap: 0;
  padding: 42px 0;
  margin: 0;
  background: var(--color-bg-menu);
  list-style-type: none;
  transform: translateX(-100%);
  transition: .3s;
  width: 250px;
  text-align: center;
  height: 102%;
  z-index: 320;
}
.menu-item {
  display: block;
  padding: 8px;
  color: var(--color-text);
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  margin: 10px 0;
  z-index: 310;
}
.form-search{
  margin: 0px;
  padding: 0%;
  position: relative;
  height: 36px;
}
.form-search .search-icon{
  position: absolute;
  top: 0;
  right: 0;
  width: 36px;
  height: 36px;
  padding: 0%;
  background-color: transparent;
  background: url("/img/5402443_search_find_magnifier_magnifying_magnifying\ glass_icon.svg") no-repeat ;
}
.form-search .search-element{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-right: 32px;
  color: var(--color-text);
  background-color: var(--color-bg-main);
  border: 3px solid var(--color-border);
  border-radius: 10px;
}

form{
  display: block;
  unicode-bidi: isolate;
}

.menu-item:hover {
  background: rgba(255,255,255,.2);
}
.burger-checkbox:checked ~ .menu-list {
  transform: translateX(0);
}

.main-board .dashboard{
  background-color: var(--color-bg-dashboard);
  width: 100%;
  min-height: 100%;
  padding-left: 6px;
  padding-right: 6px;
}

.snow{
  display: flex;
  justify-content: space-between;
}

.snow__flake{
  color: var(--color-snow);
  position: relative;
  top: -1.5em;
  animation-name: snowfall;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  will-change: transform;
  
}

.snow {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 100;
}

dialog.modal-cameras-info{
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  max-height: 400px;;
  max-width: 400px;
  background-color: transparent;
  text-align: center;
  justify-content: center;
  border-radius: 25px;
  border: none;
  flex-direction: column;
  visibility: hidden;
}
dialog.modal-cameras-info::backdrop{
  border: none;
  background-color: rgba(2, 2, 2, 0.5);
}

.modal-wrapper{
  background-color: var(--color-bg-table);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-text{
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 5px;
}

.modal-header{
  background-color: var(--color-bg-table);
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  position: relative;
  line-height: 45px;
  border-bottom: 2px solid black;
}

.close-modal-button:hover{
  background-color: rgb(224, 2, 2);
  width: 31px;
  height: 31px;
  
}

.close-modal-button{
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  width: 30px;
  height: 30px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 50%;
  background-color: red;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.green{
  color: green;
}
.red{
  color: rgb(156, 1, 1);
}

.modal-map{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  max-height: 800px;;
  max-width: 900px;
  text-align: center;
  justify-content: center;
  border-radius: 25px;
  border: none;
  flex-direction: column;
  border: 1px solid black;
  padding: 42px;
  background-color: var(--color-bg-header);
}
.modal-map::backdrop{
  display: block;
}

.map-button-container{
  position: absolute;
  bottom: 0;
  right: 0;
}
.open-modal-map{
  background-color: transparent;
}

.closeMap{
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  width: 30px;
  height: 30px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 50%;
  background-color: red;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}

#map{
  height: 100%;
}
.wrapper-map{
  height: 100%;
  width: 100%;
}

#markerForm{
  display: none; 
  position: absolute; 
  background-color: var(--color-table-even); 
  padding: 15px; 
  z-index: 1000;
  border-radius: 15px;
}
#saveMarkerBtn{
  border-radius: 10px;
  padding: 5px;
  box-shadow: 14px 10px 8px -2px rgba(34, 60, 80, 0.2);
  cursor: pointer;
  background-color: var(--color-bg-main);
  color: var(--color-text);
}

#cancelMarkerBtn{
  border-radius: 10px;
  padding: 5px;
  box-shadow: 14px 10px 8px -2px rgba(34, 60, 80, 0.2);
  cursor: pointer;
  background-color: var(--color-bg-main);
  color: var(--color-text);
}

.modal-map::backdrop{
  border: none;
  background-color: rgba(2, 2, 2, 0.5);
}

.form-ip-field{
  display: flex;
  text-align: center;
  justify-content: center;
}
.form-description-field{
  display: flex;
  text-align: center;
  justify-content: center;
}
.input-ip-map{
  border: none;
  border-bottom: 2px solid var(--color-bg-menu);
  margin-bottom: 10px;
  background: transparent;
  height: 32px;
  font-size: medium;
}

.input-desc-map{
  border: none;
  border-bottom: 2px solid var(--color-bg-menu);
  margin-bottom: 10px;
  background: transparent;
  height: 32px;
  font-size: medium;
}

.input-ip-map:focus{
  outline: none;
  box-shadow: none;
  border: none;
  border-bottom: 2px solid green;
}

.input-desc-map:focus{
  outline: none;
  box-shadow: none;
  border: none;
  border-bottom: 2px solid green;
}

@keyframes snowfall{
  from{
    transform: translateY(0);
  }

  to{
    transform: translateY(calc(100vh + 1.5em));
  }
}

@media (max-width: 640px){
  .tables-information{
    display: flex;
    flex-direction: column;
  }
  .main-header{
    font-size: 10px;
  }
  .switch{
    height: 15px;
    width: 45px;
  }
  .main-header .night-mode{
    top: 32px;
    right: 70px;
    height: 55px;
  }
  .burger{
    width: 30px;
    top: 0px;
  }
  .count-default{
    position: static;
  }
  .online-count-default{
    position: static;
  }
  .online-item-curcle{
    visibility: hidden;
  }
  .oflline-item-curcle{
    visibility: hidden;
  }
  .online-count-safecity{
    position: static;
  }
  .count-safe-city{
    position: static;
  }
  .oflline-table{
    padding: 0;
  }
}